<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Listar Icones</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="estilo.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- ini menu -->
	<!-- fim menu -->
	<div id="conteudo">
		<h1>Listar Icones</h1>
		<!-- ini box mensagem -->
			<div class="mensagem">
				<!-- ini mensagem -->
				Feito com sucesso!
				<!-- fim mensagem -->
			</div>
		<!-- fim box mensagem -->
		<table>
			<tr>
				<th>Icone</th>
				<th>A&ccedil;&otilde;es</th>
			</tr>
		<!-- ini rs -->
			<tr>
				<td>
					<!-- ini rs(getFileName) -->
						1
					<!-- fim rs(getFileName) -->
				</td>
				<td>
					<a href="#del">Apagar</a>
				</td>
			</tr>
		<!-- fim rs -->
		</table>
	</div>
</body>
</html>