<div id="menu">
	E-trilhas
	<ul>
		<li><a href="TrilhaEditar">Editar trilha</a></li>
		<li><a href="MapaItemCriar" title="Objeto MapaItem">Criar ponto</a></li>
		<li>
			Camada
			<ul>
				<li><a href="CamadaListar">Listar camadas</a></li>
				<li><a href="camadaCriar">Criar camada</a></li>
			</ul>
		</li>
		<li>
			Usu&aacute;rios
			<ul>
				<li><a href="ListarUsuario">Listar usu&aacute;rios</a></li>
				<li><a href="CriarUsuario">Criar usu&aacute;rio</a></li>
			</ul>
		</li>
		<li><a href="/logout">Sair</a></li>
	</ul>
</div>