p,body,form{
	margin:0;
	padding:0;
	font-family: sans-serif;
}
p{
	padding: 2px 0 2px 0;
}
h1{
	font-size: 1.5em;
}
form label{
	display:block;
	width: 150px;
	float:left;
	text-align: right;
	padding-right: 5px;
}
form div{
	clear: both;
}
.mensagem{
	color: #f00;
	border: 1px dotted #f00;
	width: 400px;
	padding: 5px;
	margin: 5px;
}