<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="pt-br">
<head>
<title>Lab</title>
<meta name="Description" content="Goals Labs" />
<meta name="Keywords" content="GOALS labs" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="Fabio Issamu Oshiro" />
<meta name="Robots" content="index,follow" />
</head>
<body>
<!-- ini body -->
<!-- fim body -->
</body>
</html>