<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Editar Trilha</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="estilo.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- ini menu -->
	<!-- fim menu -->
	<div id="conteudo">
		<h1>Editar Trilha</h1>
		<!-- ini box mensagem -->
			<div class="mensagem">
				<!-- ini mensagem -->
				Feito com sucesso!
				<!-- fim mensagem -->
			</div>
		<!-- fim box mensagem -->
		
		<form action="?" method="post" class="default">
			<div>
			Nome: <input type="text" id="nome" name="nome" value="" />
			</div>
			<div>
				<textarea id="txtCoordenadasLatLng" name="txtCoordenadasLatLng" rows="30" cols="50"></textarea>
			</div>
			<div>
				<input type="submit" value="Enviar" />
			</div>
		</form>
	</div>
</body>
</html>