<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Criar Camada</title>
	<link href="estilo.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- ini menu -->
	<!-- fim menu -->
	<h1>Criar Camada</h1>
	<!-- ini box mensagem -->
		<div class="mensagem">
			<!-- ini mensagem -->
			Feito com sucesso!
			<!-- fim mensagem -->
		</div>
	<!-- fim box mensagem -->
	<a href="CamadaListar">Listar camadas</a>
	<form action="?" method="post" class="default">
		<!-- ini camada -->
		<!-- fim camada -->
		<div>
			<input type="submit" value="Enviar" />
		</div>
	</form>
</body>
</html>