<html>
<head>
	<title>MapaItem <!-- ini id -->numero<!-- fim id --></title>
</head>
<body>
	<h1>Definindo o Ponto cod: <!-- ini id -->numero<!-- fim id --></h1>
	<form action="definirMapaItem" method="post">
		<div>
			<input type="hidden" name="id" value="" />
			<label for="tipo">Tipo</label>
			<select name="tipo" id="tipo">
				<option value="Galeria">Galeria de Imagens</option>
				<option value="Foto360">Foto 360</option>
				<option value="Video">V&iacute;deo</option>
				<option value="MapaLinkMapa">Link para outro Mapa</option>
			</select>
		</div>
		<div>
			<label for="nome">Nome</label>
			<input type="text" name="nome" id="nome" value="" />
		</div>
		<div>
			<label for="descricao">Descri&ccedil;&atilde;o</label>
			<textarea name="descricao" id="descricao"></textarea>
		</div>
		<div>
			<label for="icone">Icone</label>
			<input type="text" name="icone" id="icone" value="" />
		</div>
		<div>
			<input type="submit" value="Enviar" />
		</div>
	</form>
</body>
</html>