<table class="galeria">
	<tr>
		<td>
			<div class="mainPic">
				<div id="fotoPrincipal1">
					<!-- ini foto -->
					<!-- fim foto -->
				</div>
				<div id="fotoPrincipal0" style="display:none;">
					<!-- ini foto -->
					<!-- fim foto -->
				</div>
			</div>
		</td>
		<td class="galeriaDesc" valign="top" rowspan="2">
			<div id="galeriaDesc">
				<!-- ini descricao -->
				<!-- fim descricao -->
			</div>
		</td>
	</tr>
	<tr>
		<td id="links" valign="top">
			<!-- ini links -->
			<!-- fim links -->
		</td>
	</tr>
</table>
