<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>MapaItem <!-- ini id -->numero<!-- fim id --></title>
	<link href="estilo.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- ini menu -->
	<!-- fim menu -->
	<h1>Definindo o Ponto cod: <!-- ini id -->numero<!-- fim id --></h1>
	<!-- ini box mensagem -->
		<div class="mensagem">
			<!-- ini mensagem -->
			Feito com sucesso!
			<!-- fim mensagem -->
		</div>
	<!-- fim box mensagem -->
	<form action="definirMapaItem" method="post">
		<table>
			<tr>
				<td valign="top">
					<div class="tit" title="Defina a camada que este ponto pertence">Camada:</div>
					<div>
						<!-- ini camadas -->
						<!-- fim camadas -->
					</div>
					<a href="camadaListar">Gerenciar Camadas</a>
				</td>
				<td>
					<div>
						
						<input type="hidden" name="id" value="" />
						<label for="tipo">Tipo:</label>
						<select name="tipo" id="tipo">
							<option value="Galeria">Galeria de Imagens</option>
							<option value="Foto360">Foto 360</option>
							<option value="Video">V&iacute;deo</option>
							<option value="MapaLinkMapa">Link para outro Mapa</option>
						</select>
					</div>
					<div>
						<label for="nome">Nome:</label>
						<input type="text" name="nome" id="nome" value="" />
					</div>
					<div>
						<label for="icone">Icone:</label>
						<input type="text" name="icone" id="icone" value="" />
					</div>
					<!-- ini campos do tipo -->
					<!-- fim campos do tipo -->
				</td>
			</tr>
		</table>
		<div>
			<input type="submit" value="Enviar" />
		</div>
	</form>
</body>
</html>