<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MapaTrilhas</display-name>
  <context-param>
    <description>Sobreescreve o valor default</description>
    <param-name>chroot</param-name>
    <param-value>D:\workspaceE\MapaTrilhas\WebContent</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MapaServlet</display-name>
    <servlet-name>MapaServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaServlet</servlet-name>
    <url-pattern>/Mapa.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourcesServlet</display-name>
    <servlet-name>ResourcesServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.ResourcesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourcesServlet</servlet-name>
    <url-pattern>/resources.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapaItemServlet</display-name>
    <servlet-name>MapaItemServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaItemServlet</servlet-name>
    <url-pattern>/MapaItem.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaFlash</display-name>
    <servlet-name>CamadaFlash</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaFlash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaFlash</servlet-name>
    <url-pattern>/Camada.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapaItemDefinir</display-name>
    <servlet-name>MapaItemDefinir</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaItemDefinir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaItemDefinir</servlet-name>
    <url-pattern>/definirMapaItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaListar</display-name>
    <servlet-name>CamadaListar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaListar</servlet-name>
    <url-pattern>/CamadaListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaEditar</display-name>
    <servlet-name>CamadaEditar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaEditar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaEditar</servlet-name>
    <url-pattern>/camadaEditar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaApagar</display-name>
    <servlet-name>CamadaApagar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaApagar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaApagar</servlet-name>
    <url-pattern>/camadaApagar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaCriar</display-name>
    <servlet-name>CamadaCriar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaCriar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaCriar</servlet-name>
    <url-pattern>/camadaCriar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapaItemListar</display-name>
    <servlet-name>MapaItemListar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaItemListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaItemListar</servlet-name>
    <url-pattern>/MapaItemListar</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>is prepended to file paths</description>
    <param-name>filebase</param-name>
    <param-value>D:/workspaceE/MapaTrilhas/WebContent/media</param-value>
  </context-param>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>de.jwi.jfm.servlets.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/path/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapaItemApagar</display-name>
    <servlet-name>MapaItemApagar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaItemApagar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaItemApagar</servlet-name>
    <url-pattern>/MapaItemApagar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GaleriaServlet</display-name>
    <servlet-name>GaleriaServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.galeria.GaleriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GaleriaServlet</servlet-name>
    <url-pattern>/GaleriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserirFoto</display-name>
    <servlet-name>InserirFoto</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.galeria.InserirFoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserirFoto</servlet-name>
    <url-pattern>/InserirFoto</url-pattern>
  </servlet-mapping>
</web-app>