<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MapaTrilhas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MapaServlet</display-name>
    <servlet-name>MapaServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaServlet</servlet-name>
    <url-pattern>/Mapa.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourcesServlet</display-name>
    <servlet-name>ResourcesServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.ResourcesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourcesServlet</servlet-name>
    <url-pattern>/resources.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapaItemServlet</display-name>
    <servlet-name>MapaItemServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaItemServlet</servlet-name>
    <url-pattern>/MapaItem.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaFlash</display-name>
    <servlet-name>CamadaFlash</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaFlash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaFlash</servlet-name>
    <url-pattern>/Camada.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapaItemDefinirServlet</display-name>
    <servlet-name>MapaItemDefinirServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaItemDefinirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaItemDefinirServlet</servlet-name>
    <url-pattern>/definirMapaItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaListar</display-name>
    <servlet-name>CamadaListar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaListar</servlet-name>
    <url-pattern>/camadaListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaEditar</display-name>
    <servlet-name>CamadaEditar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaEditar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaEditar</servlet-name>
    <url-pattern>/camadaEditar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaApagar</display-name>
    <servlet-name>CamadaApagar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaApagar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaApagar</servlet-name>
    <url-pattern>/camadaApagar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaCriar</display-name>
    <servlet-name>CamadaCriar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaCriar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaCriar</servlet-name>
    <url-pattern>/camadaCriar</url-pattern>
  </servlet-mapping>
</web-app>