<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<!--
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
 -->
 	<servlet>
        <servlet-name>GroovyServlet</servlet-name>
        <servlet-class>groovy.servlet.GroovyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>*.groovy</url-pattern>
    </servlet-mapping>
 
    <servlet>
        <servlet-name>guestbook</servlet-name>
        <servlet-class>guestbook.GuestbookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>guestbook</servlet-name>
        <url-pattern>/guestbook</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>pergunta-list</servlet-name>
    	<servlet-class>br.com.goals.quiz.servlet.PerguntaList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pergunta-list</servlet-name>
        <url-pattern>/PerguntaList</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>pergunta-add</servlet-name>
    	<servlet-class>br.com.goals.quiz.servlet.PerguntaAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pergunta-add</servlet-name>
        <url-pattern>/PerguntaAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>guestbook.SignGuestbookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    <!-- Mapa trilhas -->
    <servlet>
    <description>Mapa.xml</description>
    <display-name>MapaServlet</display-name>
    <servlet-name>MapaServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaServlet</servlet-name>
    <url-pattern>/map/Mapa.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourcesServlet</display-name>
    <servlet-name>ResourcesServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.ResourcesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourcesServlet</servlet-name>
    <url-pattern>/resources.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>TrilhaEditar</description>
    <display-name>TrilhaEditar</display-name>
    <servlet-name>TrilhaEditar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.TrilhaEditar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrilhaEditar</servlet-name>
    <url-pattern>/TrilhaEditar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapaItemCriar</display-name>
    <servlet-name>MapaItemCriar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.mapaitem.MapaItemCriar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaItemCriar</servlet-name>
    <url-pattern>/MapaItemCriar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JdoHtmlServlet</display-name>
    <servlet-name>JdoHtmlServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.JdoHtmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdoHtmlServlet</servlet-name>
    <url-pattern>/map/data/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MapaItemServlet</display-name>
    <servlet-name>MapaItemServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaItemServlet</servlet-name>
    <url-pattern>/MapaItem.xml</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CamadaFlash</display-name>
    <servlet-name>CamadaFlash</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaFlash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaFlash</servlet-name>
    <url-pattern>/Camada.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapaItemDefinir</display-name>
    <servlet-name>MapaItemDefinir</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaItemDefinir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaItemDefinir</servlet-name>
    <url-pattern>/definirMapaItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaListar</display-name>
    <servlet-name>CamadaListar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaListar</servlet-name>
    <url-pattern>/CamadaListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaEditar</display-name>
    <servlet-name>CamadaEditar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaEditar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaEditar</servlet-name>
    <url-pattern>/camadaEditar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaApagar</display-name>
    <servlet-name>CamadaApagar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaApagar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaApagar</servlet-name>
    <url-pattern>/CamadaApagar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CamadaCriar</display-name>
    <servlet-name>CamadaCriar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.camada.CamadaCriar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CamadaCriar</servlet-name>
    <url-pattern>/camadaCriar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapaItemListar</display-name>
    <servlet-name>MapaItemListar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaItemListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaItemListar</servlet-name>
    <url-pattern>/MapaItemListar</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>is prepended to file paths</description>
    <param-name>filebase</param-name>
    <param-value>D:/workspaceE/MapaTrilhas/WebContent/media</param-value>
  </context-param>
  
  <servlet>
    <description></description>
    <display-name>MapaItemApagar</display-name>
    <servlet-name>MapaItemApagar</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.MapaItemApagar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaItemApagar</servlet-name>
    <url-pattern>/MapaItemApagar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GaleriaServlet</display-name>
    <servlet-name>GaleriaServlet</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.galeria.GaleriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GaleriaServlet</servlet-name>
    <url-pattern>/GaleriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserirFoto</display-name>
    <servlet-name>InserirFoto</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.galeria.InserirFoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserirFoto</servlet-name>
    <url-pattern>/InserirFoto</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>VerFoto</display-name>
    <servlet-name>VerFoto</servlet-name>
    <servlet-class>br.com.goals.etrilhas.servlet.galeria.VerFoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerFoto</servlet-name>
    <url-pattern>/media/fotos/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerFoto</servlet-name>
    <url-pattern>/map/media/fotos/*</url-pattern>
  </servlet-mapping>
    
    <!-- fim Mapa trilhas -->
    <welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
        <welcome-file>guestbook.jsp</welcome-file>
    </welcome-file-list>
</web-app>
